<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CoffeeShopManagement.Properties.Settings.CoffeeShopManagementConnectionString"
            connectionString="Data Source=QUI;Initial Catalog=CoffeeShopManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CoffeeShopManagement.Properties.Settings.CoffeeShopManagementFinalConnectionString"
            connectionString="Data Source=qui;Initial Catalog=CoffeeShopManagementFinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>